ion-navbar {
    background-color:#f53d3d;
    color:#000000;
}

.ww-nav-title{
    background-color:#f53d3d;
    color: #000000;
}

.ww-nav-button{
    background-color:#f53d3d;
    color: #000000;
}

.ww-test{
    background-color:#f53d3d;
    color: #000000;
}