ion-navbar {
    background-color:#488aff;
    color:#000000;
}

.ww-nav-title{
    background-color:#488aff;
    color:#ffffff;
}

.ww-nav-button{
    background-color:#488aff;
    color: #ffffff;
}

.ww-test{
    background-color:#488aff;
    color:#ffffff;
}